<style>
.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}


.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    background:none
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
#form_user {
    background:none;
    width:450px;
    margin:10px 0 30px 0;
}
span.input-group-addon {
	color:#afafaf;
}
.left-label{
    text-align:left;
    font-weight:bold
}
.hover-span {
    background:white;
    border-color:#4CAF50;
    color:#4CAF50;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form#form_user input.form-control {
    box-shadow:none
}
form#form_user input.form-control:focus,select.form-control:focus {
    border-color:#4CAF50;
    box-shadow:none
}
</style>
<form class="form-horizontal" method="post" action="{% url 'NA_User_Register' %}" id="form_user" enctype="multipart/form-data">
    {% csrf_token %}
	<div class="row">
		<div class="col-sm-6">
            <label for="name" class="control-label" style="text-align: left;font-weight:bold">First Name :</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				{{form.first_name}}
			</div>
		</div>
        <div class="col-sm-6" style="padding: 0 15px 0 0;">
            <label for="name" class="control-label" style="text-align: left;font-weight:bold">Last Name :</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				{{form.last_name}}
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-sm-6">
            <label for="username" class="control-label" style="text-align: left;font-weight:bold">Username :</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
				{{form.username}}
			</div>
		</div>
        <div class="col-sm-6" style="padding:0 15px 0 0;">
            <label for="id_divisi" class="control-label" style="text-align: left;font-weight:bold">Divisi :</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
				{{form.divisi}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
            <label for="email" class="control-label" style="text-align: left;font-weight:bold">Email :</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				{{form.email}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
            <label for="password" class="control-label" style="text-align: left;font-weight:bold">Password :</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
				{{form.password}}
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-12">
            <label for="confirm" class="control-label" style="text-align: left;font-weight:bold">Confirm Password :</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
				{{form.confirm_password}}
			</div>
		</div>
    </div>
    <input type="submit" style="display:none" id="priviledge_submit"/>
    {{form.initializeForm}}
</form>
<script>
	$('input,select').on({
		'focus': function () {
			$(this).prev().addClass('hover-span').css('color', '#4CAF50');
		},
		'blur': function () {
			if ($(this).prev().hasClass('hover-span')) {
				$(this).prev().removeClass('hover-span').css('color', '#afafaf');
			}
		}
	});
</script>