<div class="row" style="overflow:auto;">
    <form action="." method="post" class="form-horizontal"
          style="background-color:transparent;font-size: 1em;width:550px;max-height:485px;overflow:auto;" 
		  id="form_ga_receive" onsubmit="return false;">
        {% csrf_token %}
        <fieldset style="margin-bottom:5px;">
            <legend>Goods Info</legend>
            <div class="NA-Entry-div-row">
                <label for="id_itemcode" class="NA-Entry-label;" style="display:inline-block; width:120px;">Goods</label>
                {{ form.itemcode }}
                <div class="input-group" style="display: inline-flex; width: 50%;position:relative;top:2px;">
                    {{ form.goodsname }}
                    <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                        <button class="btn btn-success" type="button" id="btn_fk_goods" style="padding:4px 8px;height: 28px"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <div class="NA-Entry-div-row" id="difInfo" style="display:none">
                <!--Khusus untuk Goods Info setelah di pilih-->
                <div style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="BrandKey" class="NA-Entry-label;" style="display:inline-block;width:100px;">Brand</label>
                    <label id="BrandValue" class="NA-Entry-label;" style="margin-right: 5px;width: 75%;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;padding-left: 5px;">{{ form.brandvalue.value }}</label>
                </div>
                <div style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="TypeKey" class="NA-Entry-label;" style="display:inline-block;width:100px;">Tipe</label>
                    <label id="TypeValue" class="NA-Entry-label;" style="margin-right: 5px;width: 75%;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;padding-left: 5px;">{{ form.typeapp.value }}</label>
                </div>
                <div style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="fk_goodsKey" class="NA-Entry-label;" style="display:inline-block;margin-right:5px; width:100px;">Item Code</label>
                    <label id="fk_goodsValue" class="NA-Entry-label;" style="margin-right: 5px;width: 75%;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;padding-left: 5px;">{{ form.fk_goods.value }}</label>
                </div>
                <!-- condition: new/second -->
            </div>
        </fieldset>

        <div class="NA-Entry-div-row" style="border-top:1px solid rgb(11, 153, 16);">
            <fieldset style="margin-bottom:5px;margin-top:5px;">
                <legend>Employee Info</legend>
                <div style="margin-bottom:5px;margin-right:auto">
                    <label for="id_employee_nik" class="NA-Entry-label;" style="display:inline-block;width:120px;">Employee</label>
                    {{ form.employee_nik }}
                    <div class="input-group" style="display:inline-flex;width:50%;">
                        {{ form.employee_name }}
                        <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                            <button class="btn btn-success" type="button" id="btn_fk_employee" style="padding:4px 8px;height: 28px;"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
                
                <div style="margin-bottom:5px;margin-right:auto">
                    <label for="id_sender_nik" class="NA-Entry-label;" style="display:inline-block;width:120px;">Send by</label>
                    {{ form.sender_nik }}
                    <div class="input-group" style="display:inline-flex;width:50%;">
                        {{ form.sender_name }}
                        <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                            <button class="btn btn-success" type="button" id="btn_fk_sender" style="padding:4px 8px;height: 28px;"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
                
                <div style="margin-bottom:5px;margin-right:auto">
                    <label for="id_resp_employee_nik" class="NA-Entry-label;" style="display:inline-block;width:120px;">Responsible by</label>
                    {{ form.resp_employee_nik }}
                    <div class="input-group" style="display:inline-flex;width:50%;">
                        {{ form.resp_employee_name }}
                        <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                            <button class="btn btn-success" type="button" id="btn_fk_resp_employee" style="padding:4px 8px;height: 28px;"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="NA-Entry-div-row" style="border-top:1px solid rgb(11, 153, 16);">
            <fieldset style="margin-bottom:5px;margin-top:5px;">
                <legend>More Detail</legend>
                <div style="margin-bottom:5px;margin-right:auto">
                    <div class="NA-Entry-inlinve-div">
                        <label for="id_daterequest" style="display:inline-block; width:120px;">Date Request</label>
                        {{ form.daterequest }}
                    </div>
                </div>
                <div style="margin-bottom:5px;margin-right:auto">
                    <div class="NA-Entry-inlinve-div">
                        <label for="id_datereleased" style="display:inline-block; width:120px;">Date Released</label>
                        {{ form.datereleased }}
                    </div>
                </div>
                <div style="margin-bottom:5px;margin-right:auto">
                    <div class="NA-Entry-inlinve-div">
                        <label for="id_equipment" style="display:inline-block; width:120px;">Equipment</label>
                        <ul style="display:inline;vertical-align: bottom;">
                            <li class="dropdown" style="display:inline;">
                                <ul id="container_equipment" class="container-multiselect" data-toggle="dropdown" data-placeholder="Equipment..">
                                    <input id="fake_input_equipment" type="text" style="border: 0;padding: 0;height: 20px;width: 10px;background: none;" />
                                </ul>
                                <ul class="dropdown-menu select-multiple" id="dropdown_item_equipment">
                                    <li><input id="search_item_equipment" type="text" class="NA-Form-Control" 
                                        style="border-top: 0;border-left: 0;border-right: 0;box-shadow: none;outline: 0;border-radius: 0;" />
                                    </li>
                                    {% for equipment in equipments %}
                                    <li id="item_choice" data-id="{{ equipment.idapp }}" data-selected="false"><p>{{ equipment.name_app }}</p></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <button id="entry_equipment" class="btn btn-success" style="padding: 1px 5px;" type="button"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div style="margin-bottom:5px;margin-right:auto">
                    <div class="NA-Entry-inlinve-div">
                        <label for="id_add_equipment" style="display:inline-block; width:120px;">Add Equipment</label>
                        <ul style="display:inline;vertical-align: bottom;">
                            <li class="dropdown" style="display:inline;">
                                <ul id="container_add_equipment" class="container-multiselect" data-toggle="dropdown" data-placeholder="Equipment..">
                                    <input id="fake_input_add_equipment" type="text" style="border: 0;padding: 0;height: 20px;width: 10px;background: none;" />
                                </ul>
                                <ul class="dropdown-menu select-multiple" id="dropdown_item_add_equipment">
                                    <li><input id="search_item_add_equipment" type="text" class="NA-Form-Control"
                                        style="border-top: 0;border-left: 0;border-right: 0;box-shadow: none;outline: 0;border-radius: 0;" />
                                    </li>
                                    {% for equipment in equipments %}
                                    <li id="item_choice" data-id="{{ equipment.idapp }}" data-selected="false"><p>{{ equipment.name_app }}</p></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <button id="entry_add_equipment" class="btn btn-success" style="padding: 1px 5px;" type="button"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="NA-Entry-div-row">
            <label for="descriptions" class="NA-Entry-label;">Descriptions / Remark</label>
            {{ form.descriptions }}
        </div>
        <input type="submit" style="display:none" id="submit_receive_ga">
        {{ form.initializeForm }}
        {{ form.fk_goods }}
        {{ form.typeapp }}
        {{ form.employee }}
        {{ form.sender }}
        {{ form.resp_employee }}
        {{ form.equipment }}
        {{ form.add_equipment }}
    </form>
</div>