<div class="row" style="overflow:auto;">
    <form action="." method="post" class="form-horizontal" enctype="multipart/form-data" style="background-color:transparent;font-size: 1em;" id="frm-NA-Entry-Goods-Disposal" onsubmit="return false;">
        {% csrf_token %}
        <fieldset style="margin-bottom:5px;">
            <legend>Goods Info</legend>
            <div class="NA-Entry-div-row">
                <label for="serialnumber" class="NA-Entry-label;" style="display:inline-block; width:112px;margin-right:5px;">Serial Number</label>
                {{ form.serialnumber }}
                <div class="input-group" style="display: inline-flex; width: 48%;">
                    {{ form.goods }}
                    <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                        <button class="btn btn-success" type="button" id="FE_fk_goods" style="padding:4px 8px;height: 28px"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <div class="NA-Entry-div-row" id="difInfo">
                <!--Khusus untuk Goods Info setelah di pilih-->
                <div style="margin-bottom:5px;margin-right:auto;display:flex;padding-right:0">
                    <label id="BrandKey" class="NA-Entry-label;" style="display:inline-block;margin-right:5px; width:112px;">Brand</label>
                    <label id="BrandValue" class="NA-Entry-label;" style="margin-right: 5px;width:75%;max-width:360px;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;padding-left: 5px;">{{ form.brandvalue.value }}</label>
                </div>
                <div style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="TypeKey" class="NA-Entry-label;" style="display:inline-block;margin-right:5px; width:112px;">Tipe</label>
                    <label id="TypeValue" class="NA-Entry-label;" style="margin-right: 5px;width:75%;max-width:360px;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;padding-left: 5px;">{{ form.typeapp.value }}</label>
                </div>
                <div style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="fk_goodsKey" class="NA-Entry-label;" style="display:inline-block;margin-right:5px; width:112px;">Item Code</label>
                    <label id="fk_goodsValue" class="NA-Entry-label;" style="margin-right: 5px;width:75%;max-width:360px;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;padding-left: 5px;">{{ form.fk_goods.value }}</label>
                </div>
                <div id="bookvalueInfo" style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="fk_bookvalueKey" class="NA-Entry-label;" style="display:inline-block; width:112px;margin-right:5px;">Book Value</label>
                    <label id="fk_bookvalueValue" class="NA-Entry-label;" style="margin-right: 5px;padding-left:5px;width:75%;max-width:360px;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;">{{form.bookvalue.value}}</label>
                </div>
                <!--lastInfo di hide bila status edit /open-->
                <div style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="lastInfoKey" class="NA-Entry-label;" style="display:inline-block;margin-right:5px; width:112px;">Last Info</label>
                    <label id="lastInfoValue" class="NA-Entry-label;" style="margin-right: 5px;font-size: small;width:75%;max-width:360px;display: inline-block;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;padding-left: 5px;"></label>
                </div>
                <div id="lastUsedInfo" style="margin-bottom:5px;margin-right:auto;display:flex;">
                    <label id="fk_usedemployeeKey" class="NA-Entry-label;" style="display:inline-block; width:112px;margin-right:5px;">Last Used By</label>
                    <label id="fk_usedemployeeValue" class="NA-Entry-label;" style="margin-right: 5px;width:75%;max-width:360px;display: inline-block;padding-left: 5px;border: 1px solid rgb(76, 175, 80);border-top-right-radius: 5px;">{{ form.fk_usedemployee|add:"|"|add:form.fk_usedemployee_employee.value }}</label>
                </div>
                <!--
                fk_usedemployee = forms.CharField(max_length=50,widget=forms.HiddenInput(),required=False)
                idapp_fk_usedemployee = forms.IntegerField(widget=forms.HiddenInput(),required=False) //hidden input
                fk_usedemployee_employee = forms.CharField(max_length=100, widget=forms.HiddenInput(),required=False)
                -->
            </div>
        </fieldset>
        <div class="NA-Entry-div-row">
            <label for="datedisposal" class="NA-Entry-label;" style="display:inline-block;margin-right:5px;margin-left:5px; width:112px;">Date Deleted</label>
            {{ form.datedisposal }}
        </div>
        <div class="NA-Entry-div-row" style="border-top:1px solid rgb(11, 153, 16);">
            <fieldset style="margin-bottom:5px;margin-top:5px">
                <legend>
                    purpose for being sold ?
                </legend>
                <div class="NA-Entry-inlinve-div" style="width:120px;padding-left:10px;">
                    <label>  {{ form.issold }} Yess </label>
                </div>
                <div class="NA-Entry-inlinve-div" id="divSellingPrice">
                    <label for="sellingprice" class="NA-Entry-label;" style="display:inline-block;width:120px;text-align: right;padding-right: 5px;">Selling Price</label>
                    {{ form.sellingprice}}
                </div>
            </fieldset>
        </div>
        <div style="margin-bottom:5px;margin-right:auto">
            <label for="fk_proposedby" class="NA-Entry-label;" style="display:inline-block;margin-right:5px;width:112px;">ProposedBy</label>
            {{ form.fk_proposedby }}
            <div class="input-group" style="display:inline-flex;width:50%;">
                {{ form.fk_proposedby_employee }}
                <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                    <button class="btn btn-success" type="button" id="FE_fk_proposedby" style="padding:4px 8px;height: 28px;"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
        <div style="margin-bottom:5px;margin-right:auto">
            <label for="fk_Acknowledge1" class="NA-Entry-label;" style="display:inline-block;margin-right:5px;width:112px;font-size: 0.85em;">Acknowledge by(1)</label>
            {{ form.fk_acknowledge1 }}
            <div class="input-group" style="display:inline-flex;width:50%;">
                {{ form.fk_acknowledge1_employee }}
                <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                    <button class="btn btn-success" type="button" id="FE_fk_acknowledge1" style="padding:4px 8px;height: 28px;"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
        <div style="margin-bottom:5px;margin-right:auto">
            <label for="fk_Acknowledge2" class="NA-Entry-label;" style="display:inline-block;margin-right:5px;width:112px;font-size: 0.85em;">Acknowledge by(2)</label>
            {{ form.fk_acknowledge2 }}
            <div class="input-group" style="display:inline-flex;width:50%;">
                {{ form.fk_acknowledge2_employee }}
                <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                    <button class="btn btn-success" type="button" id="FE_fk_acknowledge2" style="padding:4px 8px;height: 28px;"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
        <div style="margin-bottom:5px;margin-right:auto">
            <label for="fk_Acknowledge2" class="NA-Entry-label;" style="display:inline-block;margin-right:5px;width:112px;font-size: 0.85em;">Approved By</label>
            {{ form.fk_approvedby }}
            <div class="input-group" style="display:inline-flex;width:50%;">
                {{ form.fk_approvedby_employee }}
                <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                    <button class="btn btn-success" type="button" id="FE_fk_approvedby" style="padding:4px 8px;height: 28px;"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
        <div class="NA-Entry-div-row">
            <label for="descriptions" class="NA-Entry-label;" style="margin-right:5px;width:112px;">remark</label>
            {{ form.descriptions }}
        </div>
        <input type="submit" style="display:none" id="inputButton">
        <!--issold di isi bila barang yang akan di dispose sudah hilang,default null-->
        {{ form.initializeForm }}
        {{ form.idapp }}
        {{ form.idapp_fk_goods }}
        {{ form.islost }}
        {{ form.fk_lost }}
        {{ form.fk_stock }}
        {{ form.idapp_fk_usedemployee }}
        {{ form.fk_acc_fa }}
        {{ form.idapp_fk_proposedby }}
        {{ form.idapp_fk_acknowledge1 }}
        {{ form.idapp_fk_acknowledge2 }}
        {{ form.idapp_fk_approvedby }}
        {{ form.fk_maintenance }}
        {{ form.fk_return }}
        {{ form.fk_lending }}
        {{ form.fk_outwards }}
    </form>
</div>