<style>
    .inline-field {
		display:inline-flex;
	}
</style>
<div class="row" style="overflow:auto;">
    <form action="ShowEntry/" method="post" style="max-height:365px;width:600px;" id="gReturn_form" onsubmit="return false">
        {% csrf_token %}
        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">
            <!--
            <div class="NA-Entry-inlinve-div" style="display:inline-flex">
                <label for="id_itemcode" class="NA-Entry-label inline-field" style="margin-right: 5px;width:112px;text-align:left;">Item code</label>

            </div>
            -->
		<div class="NA-Entry-inlinve-div" style="display:inline-flex;">
            <label for="id_serialNumber" class="NA-Entry-label inline-field" style="margin-right: 5px;width:112px;text-align:left;">Serial Number</label>
            {{form.serialNumber}}
        </div>
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;flex:2">
                <div class="input-group" style="display:inline-flex;width:100%">
                    {{ form.goods }}
                    <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                        <button class="btn btn-success" type="button" id="FK_goods" style="padding:4px 8px;height: 28px"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;">
                <label for="id_nik_usedemployee" class="NA-Entry-label inline-field" style="margin-right: 5px;width:112px;text-align:left;">Used By</label>
                {{form.nik_usedemployee}}
            </div>
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;flex:2;">
                {{form.usedemployee}}
            </div>
        </div>

        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">


        </div>

        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;">
                <label for="id_itemcode" class="NA-Entry-label inline-field" style="width:112px;margin-right: 5px;text-align:left;">Return By</label>
                {{ form.nik_fromemployee }}
            </div>
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;flex:2">
                <div class="input-group" style="display:inline-flex;width:100%;">
                    {{ form.fromemployee }}
                    <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                        <button class="btn btn-success" type="button" id="FK_fromemployee" style="padding:4px 8px;height: 28px"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;">
                <label for="id_conditions" class="NA-Entry-label inline-field" style="width:112px;margin-right: 5px;text-align:left;">Conditions</label>
                {{ form.conditions }}
            </div>
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;">
                <label for="id_iscompleted" style="margin-left: 20px;">
                    Completed With Equipment
                    {{ form.iscompleted }}
                </label>
            </div>
        </div>
        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">
            <div class="NA-Entry-inlinve-div" style="display:inline-flex;">
                <label for="id_minus" class="NA-Entry-label inline-field" style="width:112px;margin-right: 5px;text-align:left;">Minus</label>
                {{form.minus}}
            </div>
        </div>

        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">
            <div class="NA-Entry-inlinve-div" style="display:inline-flex">
                <label for="id_datereturn" class="inline-field" style="width:112px;margin-right: 5px;text-align:left;">Date
                    Return</label>
                {{ form.datereturn }}
            </div>
            <div class="NA-Entry-inlinve-div" style="display:inline-flex">
                <label for="id_isaccepted" style="margin-left: 20px;">
                   Is Accepted {{ form.isaccepted }}
                </label>            
            </div>
        </div>
        <div class="NA-Entry-div-row" style="display:flex;flex-flow:row nowrap">
            <div class="NA-Entry-inlinve-div" style="display:inline-flex">
                <label for="id_descriptions" class="NA-Entry-label inline-field" style="width:112px;margin-right: 5px;text-align:left;">Descriptions</label>
                {{form.descriptions}}
            </div>
        </div>
		{{ form.itemcode }}
        {{ form.fk_goods }}
        {{ form.typeApp }}
        {{ form.idapp_fromemployee }}
        {{ form.idapp_usedemployee }}
        {{ form.idapp_fk_goods_outwards }}
        {{ form.idapp_fk_goods_lend }}
        {{ form.initializeForm }}
        <input type="submit" style="display:none" id="gReturn_submit" />
    </form>

</div>

