<style>
	div.containerDialog{
		width:410px;
	}
</style>
<form action="ShowEntry/" method="post" style="width:420px;height:365px;" id="gReturn_form" onsubmit="return false">
    {% csrf_token %}
    <div class="NA-Entry-div-row">
        <div class="NA-Entry-inlinve-div">
            <label for="id_itemcode" class="NA-Entry-label;">Item code</label>
            {{ form.itemcode }}
        </div>
        <div class="NA-Entry-inlinve-div">
            <label for="id_goods" class="NA-Entry-label;">Search goods</label>
            <div class="input-group" style="display: inline-flex; width: 210px;">
                {{ form.goods }}
                <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                    <button class="btn btn-success" type="button" id="FK_goods" style="padding:4px 8px;height: 28px"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div class="NA-Entry-div-row">
        <div class="NA-Entry-inlinve-div">
            <label for="id_minus">Used By</label>
            {{form.nik_usedemployee}}
        </div>
        <div class="NA-Entry-inlinve-div">
            <label for="id_serialNum">Employee</label>
            {{form.usedemployee}}
        </div>
    </div>

    <div class="NA-Entry-div-row">
        <div class="NA-Entry-inlinve-div">
            <label for="id_serialNum">Serial Number</label>
            {{form.serialNumber}}
        </div>
        <div class="NA-Entry-inlinve-div">
            <label for="id_minus">Minus</label>
            {{form.minus}}
        </div>
    </div>

    <div class="NA-Entry-div-row">
        <div class="NA-Entry-inlinve-div">
            <label for="id_itemcode" class="NA-Entry-label;">From Employee</label>
            {{ form.nik_fromemployee }}
        </div>
        <div class="NA-Entry-inlinve-div">
            <label for="id_goods" class="NA-Entry-label;">Employee</label>
            <div class="input-group" style="display: inline-flex; width: 210px;">
                {{ form.fromemployee }}
                <span class="input-group-btn" style="display:inline-flex;height: 28px;padding-bottom:0;justify-content:flex-end">
                    <button class="btn btn-success" type="button" id="FK_fromemployee" style="padding:4px 8px;height: 28px"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div class="NA-Entry-div-row">
        <div class="NA-Entry-inlinve-div">
            <label for="id_enddate" class="NA-Entry-label;">Date Return</label>
            {{ form.datereturn }}
        </div>
        <div class="NA-Entry-inlinve-div">
            <label for="id_personalname">Condition</label>
            {{ form.condition }}
        </div>
        <div class="NA-Entry-inlinve-div">
            <label for="id_maintenanceby">Is Completed
				{{ form.iscompleted }}
            </label>
            
        </div>
    </div>
    <div class="NA-Entry-div-row">
        <div class="NA-Entry-inlinve-div">
            <label for="id_descriptions">Descriptions</label>
            {{form.descriptions}}
        </div>
    </div>
    {{form.fk_goods}}
	{{form.idapp_fromemployee}}
	{{form.idapp_usedemployee}}
    {{form.initializeForm}}
    <input type="submit" style="display:none" id="gReturn_submit" />
</form>