<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="description" content="{{CompanyName}} Asset Management, {{CompanyName}} Asset internal for management only" />
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <title>{{ title }} - {{CompanyName}} </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/MainLayouts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/NA_Bootstrap.js' %}"></script>
    <style>
        div.tree-node span.fa-plus, div.tree-node span.fa-pencil {
            position: relative;
            bottom: 1px;
        }

        div.tree-node span.fa-trash, div.tree-node span.fa-envelope {
            position: relative;
            bottom: 2px;
        }

        div#EventLogs li, div#EventLogs ul {
            min-width: 100%;
            width: -moz-fit-content;
        }

        .ui-jqgrid .ui-pg-table .ui-pg-input {
            height: 16px;
            width: 30px;
            line-height: inherit;
            padding: 1px;
            font-weight: normal;
            font-size: 11px;
            margin: 1px;
            border: 1px solid #0b9910;
            text-align: center;
        }
        div.sidebar ul li a:not([data-toggle="collapse"]) {
			white-space:nowrap
		}
    </style>
</head>
<body>
    <header>
        <a href="#"><img src="{% static 'app/images/NufarmLogo.jpg' %}" alt="Insert Logo Here" width="173" height="90" id="Insert_logo" style="background-color:transparent; display:block;" /></a>
    </header>
    <div style="height: 85.5%;position: relative;">
        <div class="fltlft">
            {% with request.resolver_match.url_name as url_name %} <!-- for getting url path, if the url path is Employee, only give class active to it .. . :D -->
            <div class="sidebar">
                <ul class="list-sidebar bg-defoult">
                    <!--<li class="nav-header "> <span> <img alt="image" class="img-circle" src="http://placehold.it/150x150"> </span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
            <li><a href="#">Regular link</a></li>
            <li class="disabled"><a href="#">Disabled link</a></li>
            <li><a href="#">Another link</a></li>
        </ul> -->
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#autoHideMenu" class="active collapsed" aria-expanded="false" style="position:relative;display:block;height:25px;">  <span class="fa fa-angle-left pull-right"></span> </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#dashboard" class="active{% if not request.user.role == 3 %} collapsed{% endif %}" aria-expanded="false">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            <span class="nav-label"> Master Data </span> <span class="fa{% if not request.user.role == 3 %} fa-angle-down{% else %} fa-angle-up{% endif %} pull-right"></span>
                        </a>
                        <ul class="sub-menu{% if not request.user.role == 3 %} collapse{% else %} in{% endif %}" id="dashboard" aria-expanded="false" style="">
                            {% if request.user.allow_view_supplier %}
                            <li><a href="{% url 'MasterData:NA_Supplier:NA_Supplier' %}" {% if url_name == 'NA_Supplier' %} class="active" {% endif %}><i class="fa fa-address-book-o" aria-hidden="true"></i>Supplier</a></li>
                            {% endif %}

                            {% if request.user.allow_view_employee %}
                            <li><a href="{% url 'MasterData:NA_Employee:NA_Employee' %}" {% if url_name == 'NA_Employee' %} class="active" {% endif %}><i class="fa fa-address-card" aria-hidden="true"></i> Employee</a></li>
                            {% endif %}

                            {% if request.user.allow_view_goods %}
                            <li><a href="{% url 'MasterData:NA_Goods:GoodMaster' %}"><i class="fa fa-dropbox" aria-hidden="true"></i>Goods</a></li>
                            {% endif %}
                            <li id="emailData"><a href="#"><i class="fa fa-envelope"></i>Email Data</a></li>
                            {% if request.user.allow_view_privilege %}
                            <li><a href="{% url 'MasterData:NA_Privilege:NA_Privilege' %}" {% if url_name == 'NA_Privilege' %} class="active" {% endif %}><i class="fa fa-user"></i> User Privilege</a></li>
                            {% endif %}
                            <li><a href="#">Others Menu</a></li>
                            <li><a href="#">Others Menu</a></li>
                            <li><a href="#">Others Menu</a></li>
                            <li><a href="#">Others Menu</a></li>
                        </ul>
                    </li>

                    {% if request.user.role != 3 %} {# 3 = Guest : Hide menu transaction from User Guest #}
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#products" class="active collapsed" aria-expanded="false">
                            <i class="fa fa-exchange"></i> <span class="nav-label">Transactions</span> <span class="fa fa-angle-down pull-right"></span>
                        </a>
                        <ul class="sub-menu collapse" id="products" aria-expanded="false">
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#it" class="active collapsed" aria-expanded="false">
                                    <i class="fa fa-laptop"></i><span class="nav-label">IT</span>
                                    <span class="fa fa-angle-down pull-right"></span>
                                </a>
                            </li>
                            <li>
                                <ul class="sub-menu collapse" id="it" aria-expanded="false" style="">
                                    <li class="active"><a href="{% url 'Transactions:NA_Goods_Receive:GoodsReceive' %}">Goods Receive</a></li>
                                    <li><a href="{% url 'Transactions:NA_Goods_Outwards:GoodsOutwards' %}">Goods Outwords</a></li>
                                    <li><a href="{% url 'Transactions:NA_Goods_Lending:GoodsLending' %}" {% if url_name == 'GoodsLending' %} class="active" {% endif %}>Goods Lending</a></li>
                                    <li><a href="{% url 'Transactions:NA_Goods_Return:GoodsReturn' %}">Goods Returned</a></li>
                                    <li><a href="{% url 'Transactions:NA_Goods_Lost:NA_GoodsLost' %}" {% if url_name == 'NA_GoodsLost' %} class="active" {% endif %}>Goods Lost</a></li>
									<li><a href="{% url 'Transactions:NA_Goods_Disposal:GoodsDisposal' %}" {% if url_name == 'GoodsDisposal' %} class="active" {% endif %}>Asset Deletion</a></li>
                                    <li class="active"><a href="{% url 'Transactions:NA_Goods_Receive_other:NA_Goods_Receive_other' %}">Accessories</a></li>
                                </ul>
                            </li>

							<li>
                                <a href="#" data-toggle="collapse" data-target="#ga" class="active collapsed" aria-expanded="false">
                                    <i class="fa fa-archive"></i><span class="nav-label">GA</span>
                                    <span class="fa fa-angle-down pull-right"></span>
                                </a>
                            </li>
							<li>
                                <ul class="sub-menu collapse" id="ga" aria-expanded="false">
                                    <li class="active"><a href="{% url 'Transactions:NA_Goods_Receive_GA:GoodsReceive' %}">Goods Receive</a></li>
                                    <li><a href="{% url 'Transactions:NA_Goods_Outwards_GA:GoodsOutwards' %}">Goods Outwords</a></li>
                                    <li><a href="#">Goods Returned</a></li>
                                    <li><a href="{% url 'Transactions:NA_Goods_Lost:NA_GoodsLost' %}" {% if url_name == 'NA_GoodsLost' %} class="active" {% endif %}>Goods Lost</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" data-toggle="collapse" data-target="#reports" class="active collapsed" aria-expanded="false">
                            <i class="fa  fa-bar-chart" aria-hidden="true"></i>
                            <span class="nav-label"> Reports </span> <span class="fa fa-angle-down pull-right"></span>
                        </a>
                        <ul class="sub-menu collapse" id="reports" aria-expanded="false">
                            <li><a href="#">Report Ad Hoc</a></li>
                        </ul>
                    </li>

                    <li> <a href="{% url 'OtherPages:NA_Acc_FA:NA_Acc' %}"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <span class="nav-label">Asset Depreciation</span></a> </li>
                    <li> <a href="{% url 'OtherPages:NA_Maintenance:NA_Maintenance' %}"><i class="fa fa-wrench" aria-hidden="true"></i><span class="nav-label">Maintenance</span></a> </li>
                    <li> <a href="#"><i class="fa fa-trash" aria-hidden="true"></i> <span class="nav-label">Disposal</span></a> </li>
                    <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
                    {% endif %}
                </ul>
            </div>
            {% endwith %}
            <div class="content">
                <div class="nfAction">
                    <div class="row">
                        <div class="col-xs-12">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="display:flex;flex-flow:nowrap;position:relative">
                                    <ul class="nav navbar-nav" style="flex:0 1 auto ;display: flex;flex-flow: row nowrap">
                                        {%block ActionMenu %}
                                        <li class="active"><button class="btn-sm" id="addData"><i class="fa fa-plus">  Add</i></button></li>
                                        <li><button class="btn-sm"><i class="fa fa-envelope-open">  Open</i></button></li>
                                        <li><button class="btn-sm" id="editData"><i class="fa fa-pencil-square">  Edit</i></button></li>
                                        <li><button class="btn-sm"><i class="fa fa-floppy-o">  Save</i></button></li>
                                        <li><button class="btn-sm" id="delData"><i class="fa fa-window-close">  Delete</i></button></li>
                                        <li><button class="btn-sm"><i class="fa fa-file-excel-o">  Export</i></button></li>
                                        <li><button class="btn-sm"><i class="fa fa-print">  Print</i></button></li>
                                        <li><button class="btn-sm"><i class="fa fa-question-circle">  Help</i></button></li>
                                        {% endblock %}
                                    </ul>
                                    <div class="col-sm-8 col-md-4" style="display:flex;padding:0px;">
                                        <ul>
                                            <li class="dropdown" style="flex:0 1 65px">
                                                <a href="http://www.jquery2dotnet.com" class=" btn dropdown-toggle" data-toggle="dropdown" style="color:black;border-radius:0px;padding:4px 10px;" id="bySearch" value="By">By <b class="caret"></b></a>
                                                <ul class="dropdown-menu search" id="selectValue">
                                                    {%block SearchData %}

                                                    {% endblock %}
                                                </ul>
                                            </li>
                                        </ul>
                                        <!--<form class="navbar-form" role="search" style="flex: 11 1 450px;left:0;position:relative;">
                                             <div class="input-group" style="display:inline-flex;position:relative">
                                                 <input class="form-control" style="display:flex;flex-flow:row nowrap;height:30.22px;" placeholder="Enter text to search for" type="text" id="searchData" required="" name="q" />
                                                 <div class="input-group-btn" style="padding-bottom:0;display:flex;flex-flow:row nowrap;width:auto;">
                                                     <button style="height:30.22px;" class="btn btn-default" type="submit" id="submitSearch"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
                                                 </div>
                                             </div>
                                        </form>-->
                                        <!--input-group-btn{padding-bottom: 2px}
                                        col-sm-5 col-md-4-->
                                        <form class="navbar-form" role="search" style="left:0;position:relative;margin:auto;flex:1 1 auto;">
                                            <div class="input-group" style="display:inline-flex;position:relative">
                                                <input class="NA-Form-Control" style="display:flex;flex-flow:row nowrap;height:30.22px;" placeholder="Enter text to search for" name="q" type="text">
                                                <div class="input-group-btn" style="padding-bottom:0;display:flex;flex-flow:row nowrap;width:auto;">
                                                    <button style="height:30.22px;" class="btn btn-default" type="submit"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="nfsitemap">

                </div>
                <div id="content-0">
                    <script>
                           function url_logEvent() {
                               return '{% url 'OtherPages:NA_Log_Event:NA_LogEvent' %}'
                           };
                           function url_logDesc(){
                               return '{% url 'OtherPages:NA_Log_Event:NA_LogEvent_descriptions' %}'
                           };
                           function url_register(){
                               return '{% url 'NA_User_Register' %}'
                           };
                           function url_emailData(){
                               return '{% url 'OtherPages:NA_Email_Data:NA_EmailData' %}'
                           };
                           function url_searchBio(){
                               return '{% url 'OtherPages:NA_Email_Data:NA_EmailData_searchBiodata' %}'
                           };
                           function url_emailUpl(){
                               return '{% url 'OtherPages:NA_Email_Data:NA_EmailUplData' %}'
                           };
                           function url_retriveBio(){
                               return '{% url 'OtherPages:NA_Email_Data:NA_Email_retriveBio' %}'
                           };
                    </script>
                    <script>
                    	function reload_LogEvent() {
                    		setTimeout(function () {
                    			$.ajax({
                    				url: url_logEvent(),
                    				success: function (data) {
                    					$('#EventLogs').tree('loadData',JSON.parse(data));
                    				}
                    			})

                    		},3000)
                    	};
                    	function getValues_emailForm() {
                    		var data = {
                    			to: $.trim($('input#id_to').val()),
                    			subject: $.trim($('input#id_subject').val()),
                    			message: $.trim($('textarea').val())
                    		};

                    		return data
                    	}
                    </script>
                    <!---============================Application content resides here======================== -->
                    {% block javascriptAndUI %}
                    {% endblock %}

                    {%block content-0 %}
                    {% endblock %}

                </div>
                <!--<footer>
                    <p>Express anything here for the footer info</p>
                    <address>
                        Address Content
                    </address>
                </footer>-->
            </div>
        </div>
        <aside>
            <div class="AsideLoginArea">
                <ul class="nav navbar-nav navbar-right" style="display: flex;flex-flow: row nowrap;">
                    <!--when user log in this must be replaced with user pic and when clicked will go directly to user account management-->
                    {%block ImgUserLogin %}
                    {% if request.user.is_authenticated %}
                    <li class="dropdown" style="position: absolute;right: 40px;top: 8px;">
                        <div class="dropdown-toggle" data-toggle="dropdown" style="top:10px">
                            <div class="profile-circle shadow" style="background-image:url({% if request.user.picture %}{% static 'NA_User_Image/UploadImg/' %}{{ request.user.get_picture_name }}{% else %}{% static 'NA_User_Image/Img/default.png' %}{% endif %})"></div>
                        </div>
                        <ul class="dropdown-menu triangle pull-right shadow" style="min-width: 320px;height:190px;padding:0px;right:8px;border-radius:2px">
                            <li>
                                <div class="row" style="margin:15px;height:110px;">
                                    <div class="col-md-5" style="padding:0px;">
                                        <div class="profile-circle medium" style="border:none-
                                             ;background-image:url({% if request.user.picture %}{% static 'NA_User_Image/UploadImg/' %}{{ request.user.get_picture_name }}{% else %}{% static 'NA_User_Image/Img/default.png' %}{% endif %})">
                                        </div>
                                        <form id="form_change_user_picture" enctype="multipart/form-data" method="post" action="">
                                            <input id="user_picture" type="file" style="display:none;" accept="image/*" />
                                            <input type="submit" style="display:none" />
                                        </form>
										<p class="profile-text-green" id="change_user_picture" style="text-align:center;width:105px">Change Picture</p>
                                    </div>
                                    <div class="col-md-7" style="font-size:13px;padding:5px;">
                                        <div class="username">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                                        <div class="email">{{ request.user.email }}</div>
                                        <!--<button id="profile" class="btn btn-primary" style="margin-top:10px;">Profile</button>-->
										<div>{{ request.user.divisi }} - <b>{{ request.user.get_role_display }}</b></div>
										<div><p class="profile-text-green" style="padding:0;font-size:15px;">Profile</p></div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider" style="margin-bottom:0px;"></li>
                            <li style="height:47px;background:#f5f5f5;">
                                <!--<a class="btn btn-default pull-right" href="{% url 'logout' %}" style="margin-right:10px">Sign out</a>-->
								<button id="btn_sign_out" class="btn btn-default pull-right" style="margin:7px;padding:4px 10px;border-radius:3px;">Sign out</button>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li style="background-color:transparent;margin-top:7px; display:inline-flex;flex :0 0 auto;top:10px; ">
                        <i class="fa fa-user"></i>
                    </li>
                    {% endif %}
                    {% endblock %}
                    <!--When user has sign in this text must be changed with the name sign out and removed li control-->
                    <!-- ============================ User Login =================================== -->
                    {%if not request.user.is_authenticated%}
                    <li class="dropdown" style="flex: 0 1 65px;">
                        <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown" style="top:10px">
                            Sign in
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="padding: 10px;min-width: 170px;">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="/login/" accept-charset="UTF-8" id="login-nav">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                <input class="form-control" name="email" id="id_email" required="" type="email" placeholder="Email address">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                <input class="form-control" name="password" id="id_password" required="" type="password" placeholder="Password">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Remember me
                                                </label>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                            </div>

                                        </form>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block" id="register">Sign up</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-block">Login with Facebook</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <!-- ============================ End User Login =============================== -->
                </ul>
            </div>
            <div class="AsideMainArea">

                <div id="EventLogs" class="LogEvent"></div>
                <div class="input-group" style="display:inline-flex;position:relative">
                    <input class="NA-Form-Control" id="searchLogEvent" style="display:flex;flex-flow:row nowrap;height:30.22px;" placeholder="Search Actions" type="text">
                    <div class="input-group-btn" style="padding-bottom:0;display:flex;flex-flow:row nowrap;width:auto;">
                        <button style="height:30.22px;" class="btn btn-default" type="submit" id="btnSearchLogEvent"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </aside>
        <div class="clearfloat"></div>

        <!--=========DIALOG ENTRY FOR INPUT OPEN AND UPDATE DATA===============-->
		{% if request.resolver_match.url_name != 'home' %}
		<script>
			NA.Privilege.Email = '{{ request.user.email }}';
			var roleCode = '{{ request.user.role }}';
			if (roleCode == 1) {
				NA.Privilege.IsAdmin = true;
				NA.Privilege.RoleName = 'Super User';
			} else {
				if (roleCode == 2) {
					NA.Privilege.RoleName = 'User';
				} else if (roleCode == 3) {
					NA.Privilege.RoleName = 'Guest';
				}
				NA.Privilege.IsAdmin = false;
			}
			NA.Privilege.password = '{{ request.user.password }}'
		</script>
		{% endif %}
        {% block DialogEntry %}

        {% endblock %}

        <!--====================================================================-->
    </div>
    <script>window.jQuery || document.write('<script src="../../static/app/scripts/jquery-1.11.1.js"><\/script>')</script>
    {% with request.resolver_match.url_name as url_name %}
    {% if url_name == 'home' or url_name == 'login' %}
    <script>window.NA || document.write('<script src="../../static/app/scripts/NAJS.js"><\/script>')</script>
    <!-- ========================== This is Load only in Home, =============================== -->
    <script>
    	NA.common.loadStyles("../../../static/app/content/jquery-ui.min.css","jqueryUI");
    	NA.common.loadStyles("../../../static/app/content/ui.jqgrid.css","UIJqueryGrid");
    	NA.common.loadStyles("../../../static/app/content/Dialog.css", "DialogEntryStyle");//Load Style buat dialog sebelum di pakai
    	//NA.common.loadStyles("../../../static/app/content/NA_commonEntry.css","CommonEntry");//Load Style buat form sebelum di pakai
    	var btnRegister = NA.common.doc.querySelector('button#register')
    	NA.common.dialog.initDialog(null,'Nufarm User - Register',[btnRegister]);//inistialisasi menu
    	window.showDialogEntry = function(event){
    	    $('div.maindialogContent').load(url_register(), function (response, status, xhr) {
    	        var dialog = document.querySelector("div.containerDialog");
    	        dialog.style.top = '20px';
    			function getData_User() {
    				data = {
    					first_name: $('input#id_first_name').val(),
    					last_name: $('input#id_last_name').val(),
    					username: $('form#form_user').find('input#id_username').val(),
    					picture: $('input#id_picture').val(),
    					email: $('form#form_user').find('input#id_email').val(),
    					password1: $('form#form_user').find('input#id_password1').val(),
    					password2: $('form#form_user').find('input#id_password2').val()
    				}
    				return data
    			}
    			var initializeForm_user = NA.common.getElementID('id_initializeForm_user');
    			initializeForm_user.Value = JSON.stringify(getData_User());
    			function NA_UserSubmit() {
    			    var send_data = getData_User();
    			    if(send_data['picture'] != ""){
    			        send_data['picture'] = $('input#id_picture')[0].files[0];
    			    };
    			    
    			    send_data['csrfmiddlewaretoken'] = $('form#form_user input[name="csrfmiddlewaretoken"]').val();
    			    user_form_data = new FormData()
    			    for ( var key in send_data ) {
    			        user_form_data.append(key, send_data[key]);
    			    }
    			    $.ajax({
    			        url: $('form#form_user').attr('action'),
    			        method: 'POST',
    			        data: user_form_data,
    			        cache: false,
    			        contentType: false,
    			        processData: false,
    			        success: function (data) {
    			            window.location.href = '/'
    			        }
    			    });
    			};
    			var form_user = NA.common.getElementID('form_user');
    			var dialog_user = NA.common.dialog.doc.querySelector("div.containerDialog");
    			var btn_input = NA.common.getElementID('user_submit');
    			$('div.dialogButtonOKCancel>a.button').click(function (event) {
    			    var target = NA.NAEvent.getTarget(event);
    			    UserHandler(target.innerText);
    			});
    			$('button.ui-button.ui-dialog-titlebar-close').on('click', function (event) {
    				UserHandler('Close');
    			});
    			function UserHandler(TextElement){
    			    var dialog = document.querySelector("div.containerDialog"),
                    originalData = JSON.parse(initializeForm_user.Value);
                    valuesForm = getData_User();
    			    switch (TextElement) {
    			        case 'OK': {
    			            var password = document.querySelector('input#id_password1');
    			            var confirm_password = document.querySelector('input#id_password2');
    			            if (password.value != confirm_password.value) {
    			                confirm_password.setCustomValidity('confirm password didn\'t match with password');
    			            } else {
    			                confirm_password.setCustomValidity('');
    			            }
    			            if (!form_user.checkValidity()) {
    			                btn_input.click();
    			            }else {
    			                if (NA.common.detectInputChanges(originalData, valuesForm)) {
    			                    NA_UserSubmit();
    			                } else {
    			                    NA.common.dialog.closeDialog(dialog);
    			                }
    			            }
    			            break;
    			        }
    			        case 'Cancel':
    			        case 'Close': {
    			            if (NA.common.detectInputChanges(originalData, valuesForm)) {
    			                return dialogConfirm(NA.common.message.dataHasChanged, NA.common.message.titleInfo,
                                    function () {
                                        if (!form_user.checkValidity()) {
                                            //NA.NAEvent.preventDefault(event);
                                            btn_input.click();
                                        }
                                        else {
                                            NA_UserSubmit();
                                        }
                                    },
                                    function () {
                                        NA.common.dialog.closeDialog(dialog);
                                    });
    			            } else {
    			                NA.common.dialog.closeDialog(dialog);
    			            }
    			        }
    			    }
    			}
    		});

    	}
    </script>
    {%endif%}
    {%endwith%}
    <!--======================================== Script Log Event =============================================== -->

    <link rel="stylesheet" type="text/css" href="{% static 'app/content/backupss/icon.css' %}">
    <script type="text/javascript" src="{% static 'app/scripts/easyloader.js' %}"></script>
    <!--<script src="{% static 'app/scripts/NAJS.js' %}"></script>-->
    <script type="text/javascript">
    	$(document).ready(function () {
    		$('div.AsideLoginArea ul.dropdown-menu.triangle.shadow').click(function(event){ //prevent menu user from close
    			event.stopPropagation();
    		});
    		$('p#change_user_picture').on({
    			'click': function(event){
    				NA.NAEvent.preventDefault(event);
    				NA.NAEvent.stopPropagation(event);
    				$('input#user_picture').click();
    			}
    		});
    		$('input#user_picture').on('change',function(event){
    		    var value = this.value
    		    if (value.match(/jpe?g|png/) != null) {
    		        if (value.match(/fakepath/) != null) {
    		            value = value.replace(/C\:\\fakepath\\/, '')
    		            this.is_correct = true;
    		        };
    		        if ($('p#not_correct_file').length > 0) {
    		            $('p#not_correct_file').remove();
    		        };
    		    } else {
    		        if ($('p#not_correct_file').length == 0) {
    		            this.is_correct = false;
    		            $(this).parents('li').next().next().append('<p id="not_correct_file" style="width:100%;color:red;">Please Insert Correct File!!</p>');
    		        };
    		        return false;
    		    }
            
    		    if (this.is_correct) {
    		        var formData = new FormData();
    		        var file = this.files[0];
    		        formData.append("picture", file);
    		    
    		        $.ajax({
    		            url: '/MasterData/Privilege/change_picture/'
                            + window.encodeURIComponent(NA.Privilege.Email) + '/',
    		            method: 'POST',
    		            data: formData,
    		            cache: false,
    		            contentType: false,
    		            processData: false,
    		            beforeSend: function(xhr){
    		                xhr.setRequestHeader('X-CSRFToken', NA.CookieUtil.get('csrftoken'))
    		            },
    		            success: function (data) {
    		                $('div.profile-circle.medium, div.profile-circle.shadow')
                                .css('background-image', 'url(/static/NA_User_Image/UploadImg/' + data['message']);
    		            }
    		        })
    		    }
    		});
    		$('button#btn_sign_out').click(function(event){
                window.location.href = '/logout/'
    		});

    		var inputLogEvent = NA.common.getElementID('searchLogEvent'),
				btn_search_log = NA.common.getElementID('btnSearchLogEvent');
    		function searchLog(event){
    			NA.NAEvent.preventDefault(event);
    			var targetValue = inputLogEvent.value;
    			NA.common.AJAX.GET(url_logEvent() + '?' + win.encodeURIComponent('_Search') + '=' + true + '&' + win.encodeURIComponent('search') + '=' + targetValue, 'application/json', function (e) { window.document.body.style.cursor = 'wait'; },
					  null,
					  function (e) {//function executed after data has been returned by server(XHR.onload)
					  	var data = JSON.parse(this.responseText);
					  	if (data) {
					  		$('#EventLogs').tree('loadData',data);
					  	}
					  }, null, function (e) {
					  	throw new Error(this.responseText + '\nStatus code :' + this.statusText);
					  }, function (e) { window.document.body.style.cursor = 'default'; },//function ajax complete
					  null);
    		};
    		NA.NAEvent.addHandler(inputLogEvent,'keydown',function(event){
    			if(event.keyCode == 13){
    				searchLog(event);
    			}
    		});
    		NA.NAEvent.addHandler(btn_search_log,'click',function(event){
    			searchLog(event);
    		});
    		using('tree', function () {
    			$("#EventLogs").tree({
    				url: url_logEvent(),
    				method: 'get',
    				animate: false,
    				loadFilter: function (data, parent) {
    					function forNodes(data, callback) {
    						var nodes = [];
    						for (var i = 0; i < data.length; i++) {
    							nodes.push(data[i]);
    						}
    						while (nodes.length) {
    							var node = nodes.shift();
    							if (callback(node) == false) { return; }
    							if (node.children) {
    								for (var i = node.children.length - 1; i >= 0; i--) {
    									nodes.unshift(node.children[i]);
    								}
    							}
    						}
    					};
    					forNodes(data, function (node) {
    						if (node.children) {
    							if (node.text.match(/\d+ \w+ \d+/)) {
    								node.state = 'closed'
    								node.iconCls = 'fa fa-calendar'
    							} else if (node.text.match(/^Log/)) {
    								node.iconCls = 'fa fa-indent'
    							} else if (node.text.match(/^\d{4}$/) || node.text.match(/\d{4}$/)) {
    								node.iconCls = 'fa fa-calendar-o'
    							}
    						} else {
    							if (node.text.match(/Created/)) {
    								node.iconCls = 'fa fa-plus';
    							};
    							if (node.text.match(/Updated/)) {
    								node.iconCls = 'fa fa-pencil';
    							};
    							if (node.text.match(/Deleted/)) {
    								node.iconCls = 'fa fa-trash';
    							};
    							if(node.text.match(/^Send/)){
    								node.iconCls = 'fa fa-envelope'
    							}
    						};

    					});

    					return data;
    				},
    				onClick: function (node) {
    					if (!node.children) {
    						$.ajax({
    							type: 'GET',
    							url: url_logDesc() + '?idapp=' + node.idapp,
    							dataType: 'json',
    							success: function (data) {
    								BootstrapDialog.show({
                                        draggable: true,
                                        type: BootstrapDialog.TYPE_SUCCESS,
                                        size: BootstrapDialog.SIZE_SMALL,
                                        title: 'Your Log Activity Data<i class="fa fa-history" style="margin-left: 10px;"></i>',
                                        cssClass: 'form-dialog-change-role',
                                        message: (function(){
                                            var container = $('<div class="container" style="padding:0;"></div>');
                                            var table = $('<table class="table logevent"></table>');
                                            var text_title = 'You have ' + data.activity_type + ' this data at ' + data.created_date;
                                            var table_title = '<th colspan="2" class="title-logevent">' + text_title + '</th>';
                                            table.append($('<thead><tr class="active">' + table_title + '</tr></thead>'));
                                            var tbody = $('<tbody></tbody>');
                                            for (var key in data.data){
                                                var tr = $('<tr></tr>');
                                                var label = $('<td style="font-weight:bold;">' + key + '</td>');
                                                var value = $('<td>' + data.data[key] + '</td>');
                                                tr.append(label);
                                                tr.append(value);
                                                tbody.append(tr);
                                            }
                                            table.append(tbody);
                                            container.append(table);
                                            return container;
                                        })(),
                                        closable: false,
                                        animate: true,
                                        closeByBackdrop: false,
                                        closeByKeyboard: false,
                                        buttons: [{
                                            label: 'OK',
                                            cssClass: 'btn-default',
                                            action: function (dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                    })
    							}
    						})
    					}

    				}

    			});
    		});
    	});
    </script>
    <!--================================================= End Script Log Event =============================================== -->
    <!--====================Jquery untuk menu============================ -->
    <script>
    	$(function () {
            // ====== common ajax setup if user was logged out
            $.ajaxSetup({
                error: function(resp){
                    if (resp.status == 401){
                        NA_Bootstrap.dialog.dialogAlert(
                            NA.common.message.unAuthorized,
                            NA.common.message.titleInfo,
                            function(){
                                window.location.href = NA.client.url.login_next
                            }
                        )
                    } else {
                        var message = resp.responseText
                        if (typeof resp.responseJSON != 'undefined'){
                            if (typeof resp['message'] != 'undefined'){
                                message = resp['message']
                            }
                        }
                        NA_Bootstrap.dialog.dialogAlert(
                            NA.common.message.server(message),
                            NA.common.message.titleInfo
                        )
                    }
                }
            });
            

    		$("div.sidebar ul li a").click(function (event) {
    			if ($(this).find($(".fa")).hasClass('fa-angle-down')) {
    				$(this).find($(".fa")).removeClass('fa-angle-down');
    				$(this).find($(".pull-right")).addClass('fa-angle-up');
    			}
    			else if ($(this).find($(".fa")).hasClass('fa-angle-up')) {
    				$(this).find($(".fa")).removeClass('fa-angle-up');
    				$(this).find($(".pull-right")).addClass('fa-angle-down');
    			}
    			else if ($(this).find($(".fa")).hasClass('fa-angle-left')) {
    				$(this).find($(".fa")).removeClass('fa-angle-left');
    				$(this).find($(".pull-right")).addClass('fa-angle-right');
    				$('div.sidebar').css('flex', '0 1 auto');
    				$('div.sidebar').toggleClass('fliph');
    			}
    			else if ($(this).find($(".fa")).hasClass('fa-angle-right')) {
    				$(this).find($(".fa")).removeClass('fa-angle-right');
    				$(this).find($(".pull-right")).addClass('fa-angle-left');
    				$('.sidebar').css('flex', '0 0 173px');
    				$('.sidebar').toggleClass('fliph');
    			}
            });
            
            $.expr[':'].icontains = function(a, i, m) {
                return $(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
              };
    	});
    </script>
    <script type="text/javascript">if (typeof $.fn.modal == 'undefined') { NA.common.doc.write('\<script src\=\"\.\.\/\.\.\/\.\.\/static\/app\/scripts\/bootstrap\.js\"\>\<\/script\>'); }</script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.min.css' %}" />
    {% if request.session.ga_reg_notif %}
    <script>
        $.ajax({
            url: '/Notifications/',
            method: 'GET',
            data: {
                name: 'ga_reg_notif'
            },
            success: function(data){
                console.log(data);
            }
        })
    </script>
    {% endif %}
</body>
</html>
