{% block SideBar %}
<div class="sidebar" id="NASideBar">
    <ul class="list-sidebar bg-defoult">
        <!--<li class="nav-header "> <span> <img alt="image" class="img-circle" src="http://placehold.it/150x150"> </span>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                                            <li><a href="#">Regular link</a></li>
                                            <li class="disabled"><a href="#">Disabled link</a></li>
                                            <li><a href="#">Another link</a></li>
                                        </ul> -->
        <li>
            <a href="#" data-toggle="collapse" data-target="#autoHideMenu" class="active collapsed"
                aria-expanded="false" style="position:relative;display:block;height:25px;"> <span
                    class="fa fa-angle-left pull-right"></span> </a>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#dashboard"
                class="active{% if not request.user.role == 3 %} collapsed{% endif %}" aria-expanded="false">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                <span class="nav-label"> Master Data </span> <span
                    class="fa{% if not request.user.role == 3 %} fa-angle-down{% else %} fa-angle-up{% endif %} pull-right"></span>
            </a>
            <ul class="sub-menu{% if not request.user.role == 3 %} collapse{% else %} in{% endif %}" id="dashboard"
                aria-expanded="false" style="">
                {% if request.user.allow_view_supplier %}
                <li><a href="{% url 'MasterData:NA_Supplier:NA_Supplier' %}" {% if url_name == 'NA_Supplier' %}
                        class="active" {% endif %}><i class="fa fa-address-book-o" aria-hidden="true"></i>Supplier</a>
                </li>
                {% endif %}

                {% if request.user.allow_view_employee %}
                <li><a href="{% url 'MasterData:NA_Employee:NA_Employee' %}" {% if url_name == 'NA_Employee' %}
                        class="active" {% endif %}><i class="fa fa-address-card" aria-hidden="true"></i> Employee</a>
                </li>
                {% endif %}

                {% if request.user.allow_view_goods %}
                <li><a href="{% url 'MasterData:NA_Goods:GoodMaster' %}"><i class="fa fa-dropbox"
                            aria-hidden="true"></i>Goods</a></li>
                {% endif %}
                <li id="emailData"><a href="#"><i class="fa fa-envelope"></i>Email Data</a></li>
                {% if request.user.allow_view_privilege %}
                <li><a href="{% url 'MasterData:NA_Privilege:NA_Privilege' %}" {% if url_name == 'NA_Privilege' %}
                        class="active" {% endif %}><i class="fa fa-user"></i> User Privilege</a></li>
                {% endif %}
                <li><a href="#">Others Menu</a></li>
                <li><a href="#">Others Menu</a></li>
                <li><a href="#">Others Menu</a></li>
                <li><a href="#">Others Menu</a></li>
            </ul>
        </li>

        {% if request.user.role != 3 %} {# 3 = Guest : Hide menu transaction from User Guest #}
        <li>
            <a href="#" data-toggle="collapse" data-target="#products" class="active collapsed" aria-expanded="false">
                <i class="fa fa-exchange"></i> <span class="nav-label">Transactions</span> <span
                    class="fa fa-angle-down pull-right"></span>
            </a>
            <ul class="sub-menu collapse" id="products" aria-expanded="false">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#it" class="active collapsed" aria-expanded="false">
                        <i class="fa fa-laptop"></i><span class="nav-label">IT</span>
                        <span class="fa fa-angle-down pull-right"></span>
                    </a>
                </li>
                <li>
                    <ul class="sub-menu collapse" id="it" aria-expanded="false" style="">
                        <li class="active">
                            <a href="{% url 'Transactions:NA_Goods_Receive:GoodsReceive' %}">Goods Receive</a>
                            <ul class="sub-menu" id="GRDetails" aria-expanded="false">
                                <li><a href="{% url 'Transactions:NA_Goods_Receive_Detail:entrybatchdetail' %}"
                                        style="padding-left:18px;font-size:0.9em;">Entry Batch Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'Transactions:NA_Goods_Outwards:GoodsOutwards' %}">Goods Outwords</a></li>
                        <li><a href="{% url 'Transactions:NA_Goods_Lending:GoodsLending' %}"
                                {% if url_name == 'GoodsLending' %} class="active" {% endif %}>Goods Lending</a></li>
                        <li><a href="{% url 'Transactions:NA_Goods_Return:GoodsReturn' %}">Goods Returned</a></li>
                        <li><a href="{% url 'Transactions:NA_Goods_Lost:NA_GoodsLost' %}"
                                {% if url_name == 'NA_GoodsLost' %} class="active" {% endif %}>Goods Lost</a></li>
                        <li><a href="{% url 'Transactions:NA_Goods_Disposal:GoodsDisposal' %}"
                                {% if url_name == 'GoodsDisposal' %} class="active" {% endif %}>Asset Deletion</a></li>
                        <li class="active"><a
                                href="{% url 'Transactions:NA_Goods_Receive_other:NA_Goods_Receive_other' %}">Accessories</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#ga" class="active collapsed" aria-expanded="false">
                        <i class="fa fa-archive"></i><span class="nav-label">GA</span>
                        <span class="fa fa-angle-down pull-right"></span>
                    </a>
                </li>
                <li>
                    <ul class="sub-menu collapse" id="ga" aria-expanded="false">
                        <li><a id="extend_tax_menu" href="#">Extend taxes</a></li>
                        <li><a href="{% url 'Transactions:NA_Goods_Receive_GA:GoodsReceive' %}">Goods Receive</a></li>
                        <li><a href="{% url 'Transactions:NA_Goods_Outwards_GA:GoodsOutwards' %}">Goods Outwords</a>
                        </li>
                        <li><a href="#">Goods Returned</a></li>
                        <li><a href="{% url 'Transactions:NA_Goods_Lost:NA_GoodsLost' %}"
                                {% if url_name == 'NA_GoodsLost' %} class="active" {% endif %}>Goods Lost</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" data-toggle="collapse" data-target="#reports" class="active collapsed" aria-expanded="false">
                <i class="fa  fa-bar-chart" aria-hidden="true"></i>
                <span class="nav-label"> Reports </span> <span class="fa fa-angle-down pull-right"></span>
            </a>
            <ul class="sub-menu collapse" id="reports" aria-expanded="false">
                <li><a href="#">Report Ad Hoc</a></li>
            </ul>
        </li>

        <li> <a href="{% url 'OtherPages:NA_Acc_FA:NA_Acc' %}"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                <span class="nav-label">Asset Depreciation</span></a> </li>
        <li> <a href="{% url 'OtherPages:NA_Maintenance:NA_Maintenance' %}"><i class="fa fa-wrench"
                    aria-hidden="true"></i><span class="nav-label">Maintenance</span></a> </li>
        <li> <a href="{% url 'Transactions:NA_Goods_Disposal:GoodsDisposal' %}" {% if url_name == 'NA_GoodsLost' %}
                class="active" {% endif %}><i class="fa fa-trash" aria-hidden="true"></i> <span
                    class="nav-label">Disposal</span></a> </li>
        <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
        {% endif %}
    </ul>
</div>
{% endblock %}