<html>
<head>
    <title>Nufarm - Login Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/login.css' %}" />
</head>
    <body>
        <div class="login-box">
            <img src="/static/NA_User_Image/img/avatar_user.png" class="avatar">
            <h1>Login</h1>
            <form id="login_form" action="/login/" method="POST" style="margin:0">
                {% csrf_token %}
                <p>Email</p>
                <input type="email" name="email" placeholder="mail@nufarm.co.id" required>
                <p>Password</p>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" name="submit" value="Login">
            </form>
            <div style="line-height:10px">
                <a href="#">Forget Password</a>
                <p style="font-size:13px;">Don't Have Account ? <a href="#">Register Here</a></p>
                <div class="container-social-login">
                    <p>Or Login With</p>
                    <a class="no-underline" href="#">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a class="no-underline" href="#">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <a class="no-underline" href="#">
                        <i class="fa fa-google fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    <script src="{% static 'app/scripts/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'app/scripts/material.spinner.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            var company_picture = [
                'nufarm_image.jpg', 
                'nufarm_image1.jpg', 
                'nufarm_image2.png',
                'nufarm_image3.jpg',
                'nufarm_image4.jpg',
                'nufarm_image5.jpg'
            ]
            var random_pict = company_picture[Math.floor(Math.random() * company_picture.length)];
            var path_pict = '/static/app/images/company_picture/' + random_pict;
            $('body').css('backgroundImage', 'url(' + path_pict + ')');
            $('#login_form').submit(function(event){
                event.preventDefault();
                if (this.checkValidity()){
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    $.ajax({
                        url: this.action,
                        method: 'POST',
                        beforeSend: function(xhr){
                            xhr.setRequestHeader(
                                'X-CSRFToken', 
                                $('input[name="csrfmiddlewaretoken"]').val()
                            )
                            var container_loading = $('<div class="container-spinner"></div>');
                            $('.login-box').addClass('blur');
                            container_loading.spinner({
                                color: 'forestgreen',
                                strokeWidth: 4,
                                radius: 20
                            })
                            $('div.login-box').append(container_loading);
                        },
                        data: {
                            email: $(this).find('input[type="email"]').val(),
                            password: $(this).find('input[type="password"]').val()
                        },
                        success: function(data){
                            // TODO: Handle it, in layout.html --> don't use tag session
                            setTimeout(function(){
                                window.location.href = data.redirect;
                            }, 500);
                            
                        },
                        error: function(data){
                            data = data.responseJSON
                            for (var key in data){
                                var input = $('input[name="'+ key +'"]').get(0);
                                input.setCustomValidity(data[key]);
                                $('form#login_form').find('input[type="submit"]').click();
                            }
                        },
                        complete: function(){
                            
                            $('div.container-spinner').fadeOut(1000);
                            $('.login-box').removeClass('blur', 1000);
                        }
                    })
                return false;
                }
            });

            $('form#login_form').find('input[type="password"], input[type="email"]').on('change', function(){
                this.setCustomValidity('');
            });
        });
    </script>
    </body>
</html>